<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="test/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="PayPal Test Suite">
            <directory>./test/PayPal/</directory>
        </testsuite>
    </testsuites>
</phpunit>